---
---
@import url('https://unpkg.com/primer/build/build.css');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900');

body {
  font-family: 'Rubik', sans-serif;
}

.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}


/* CUSTOM STYLE */

.github-component {
	position: relative;
}

.featured-icon {
	position: absolute;
	left: -12px;
	top: -12px;
	fill: white;

	background-color: #0366d6;
	width: 2.2em;
	height: 2.2em;
	border-radius: 1.1em;
	/*border: 2px solid #0366d6;*/

	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	svg {
    	display: block;
    	width:70%;
    	height:70%;
    	margin:15%;

    	/*transform: rotate(-15deg);*/
	}

}


.featured-info {
	display: none;
}


.featured-icon:hover + .featured-info {
	display: block;
	position: absolute;
	left: -50px;
	top:19px;
	width:200px;
}




.featured-icon:hover {
  animation: shake 2s infinite both;
  backface-visibility: hidden;
}

@keyframes shake {
  10%, 90% {
    transform: rotate(40deg);
  }
  
  20%, 80% {
    transform: rotate(-40deg);
  }

  30%, 50%, 70% {
    transform: rotate(40deg);
  }

  40%, 60% {
    transform: rotate(-40deg);
  }
}